.admin__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    background: var(--bg-color);
    z-index: 999;
}

.admin__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin__user {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}