.auth {
    margin-top: 73px;
}

.auth__form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 28px;
    /* border: 2px solid var(--dark-gray-color); */
    background: var(--dark-gray-color);
    border-radius: 24px;
    padding: 20px;
}

.auth__btn {
    margin: 0 auto;
}

.auth__text {
    text-align: end;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.auth__text span {
    font-size: 16px;
    color: var(--accent-color);
    text-decoration: underline;
}

@media (max-width: 992px) {

    .auth__form {
        width: 60%;
    }

}

@media (max-width: 660px) {

    .auth__form {
        width: 80%;
    }

    .auth__btn {
        width: 100%;
    }

}

@media (max-width: 480px) {

    .auth__form {
        width: 100%;
    }

    .auth__text {

        font-size: 10px;
    }

    .auth__text span {
        font-size: 12px;

    }

}