.characteristics__wrapper {
    display: flex;
    /* align-items: center; */
    gap: 40px;
    /* margin-bottom: 20px; */
}

.characteristics__img {
    width: 50%;
    padding: 60px 40px;
}

.characteristics__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 60px 0;
}

.characteristics__name {
    font-size: 28px;
    font-weight: 700;
    color: var(--text-color);
}

/* .characteristics__quantity {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.characteristics__quantity span {
    font-size: 20px;
    color: var(--accent);
} */

.characteristics__price {
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color);
}

.characteristics__price span {
    font-size: 32px;
    font-weight: 600;
    color: var(--accent-color);
}

.characteristics__category {
    font-size: 14px;
    color: var(--text-color);
}

.characteristics__category span {
    font-size: 16px;
    font-weight: 600;
}

.characteristics__short-text {
    font-size: 14px;
    color: var(--text-color);
}

.characteristics__btn {
    margin-top: 40px;
}

.characteristics__description {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    border-top: 1px solid var(--gray-color);
    padding-top: 40px;
}

@media (max-width: 768px) {

    .characteristics__rating {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    .characteristics__stars-icon {
        font-size: 20px;
    }

    .characteristics__quantity {
        font-size: 14px;
    }

    .characteristics__quantity span {
        font-size: 16px;
    }

    .characteristics__price {
        font-size: 28px;
    }

    .characteristics__btn {
        margin-top: 20px;
    }

}

@media (max-width: 530px) {

    .characteristics__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .characteristics__img {
        width: 100%;
        padding: 0;
    }

    .characteristics__info {
        width: 100%;
        padding-bottom: 20px;
    }

    .characteristics__description {
        padding-top: 20px;
    }

}