.checkout__wrapper {
    display: flex;
    gap: 20px;
}

.checkout__form-box {
    width: 60%;
}

.checkout__form-title-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.checkout__line {
    display: block;
    width: 60px;
    height: 2px;
    background: var(--accent);
}

.checkout__form-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--big-text);
}

.checkout__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkout__input {
    outline: none;
    font-size: 16px;
    color: var(--big-text);
    padding: 7px 20px;
    border: 2px solid var(--card-bg-01);
    background: var(--background);
    border-radius: 5px;
}

.checkout__input::placeholder {
    font-size: 14px;
    font-weight: 600;
    color: var(--half-white);
}

.checkout__total-box {
    width: 40%;
}

.checkout__total-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--card-bg-01);
    border-radius: 5px;
    padding: 20px;
}

.checkout__total-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    color: var(--big-text);
}

.checkout__total-item-last {
    border-bottom: 1px solid var(--text);
    padding-bottom: 20px;
}

.checkout__total-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 500;
    color: var(--big-text);
}

.checkout__btn {
    width: 100%;
}

@media (max-width: 768px) {

    .checkout__form-box {
        width: 50%;
    }

    .checkout__total-box {
        width: 50%;
    }

}

@media (max-width: 550px) {

    .checkout__wrapper {
        flex-direction: column;
    }

    .checkout__form-box {
        width: 100%;
    }

    .checkout__total-box {
        width: 100%;
    }

}