.checkout__wrapper {
    display: flex;
    gap: 20px;
}

.checkout__form-box {
    width: 60%;
}

.checkout__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkout__total-box {
    width: 40%;
}

.checkout__total-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--dark-gray-color);
    border-radius: 5px;
    padding: 20px;
}

.checkout__total-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.checkout__total-item-last {
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 20px;
}

.checkout__total-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 500;
    color: var(--text-color);
}

.checkout__btn {
    width: 100%;
}

@media (max-width: 768px) {

    .checkout__form-box {
        width: 50%;
    }

    .checkout__total-box {
        width: 50%;
    }

}

@media (max-width: 550px) {

    .checkout__wrapper {
        flex-direction: column;
    }

    .checkout__form-box {
        width: 100%;
    }

    .checkout__total-box {
        width: 100%;
    }

}