.product__item {
    max-width: 294px;
    padding: 10px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--big-text);
    border-radius: 24px;
}

.product__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__name {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--big-text);
}

.product__category {
    text-align: center;
    font-size: 12px;
    color: var(--text);
}

.product__bottom {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__price {
    font-size: 28px;
    font-weight: 600;
    color: var(--big-text);
}

.product__add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--accent);
    cursor: pointer;
}

.product__add i {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: var(--big-text);
}