.services__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.services__item {
    width: 294px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.services__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-text);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.services__icon i {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    color: var(--big-text);
}

.services__item-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--second-text);
}

.services__item-text {
    font-size: 12px;
    font-weight: 400;
    color: var(--second-text);
}