.services__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.services__item {
    width: 294px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.services__item:nth-child(1),
.services__item:nth-child(3) {
    background: linear-gradient(var(--gray-color), transparent 1px), linear-gradient(90deg, var(--gray-color), transparent 1px), var(--dark-gray-color);
    background-size: 12px 12px;
}

.services__item:nth-child(2),
.services__item:nth-child(4) {
    border: 1px solid var(--gray-color);
}

.services__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.services__icon i {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    color: var(--text-color);
}

.services__item-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.services__item-text {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}