.timer {
    background-image: linear-gradient(285deg, rgba(7, 87, 91, 0.6783088235294117) 32%, rgba(0, 59, 70, 0.958420868347339) 68%), url(../assets/images/clock-bg.jpg);
    background-position: center 73%;
    background-repeat: no-repeat;
    background-size: cover;
}

.clock__top-content {
    margin-bottom: 12px;
}

.clock__subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.clock__title {
    font-size: 28px;
    font-weight: 600;
}

.clock__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.clock__data {
    display: flex;
    align-items: center;
    gap: 16px;
}

.clock__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock__number {
    font-size: 28px;
    font-weight: 700;
}

.clock__leter {
    font-size: 12px;
}

.clock__dots {
    font-size: 28px;
    font-weight: 700;
}

.clock__btn {
    max-width: 200px;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--accent);
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
}

@media (max-width: 992px) {}