/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
  --card-bg-01: #003b46;
  --card-bg-02: #07575b;
  --card-bg-03: #66a5ad;
  --card-bg-04: #c4dfe6;
  --background: #202020;
  --big-text: #ffffff;
  --text: #838383;
  --second-text: #000000;
  --accent: #ba5536;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--background);
  color: var(--big-text);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  display: block;
  width: 100%;
}

section {
  padding: 60px 0;
}

.section__title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: var(--big-text);
  margin-bottom: 40px;
}

@media (max-width: 992px) {

  .section__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

}

@media (max-width: 768px) {

  section {
    padding: 40px 0;
  }

}