/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*  css variables */
:root {
  --card-bg-01: #003b46;
  --card-bg-02: #07575b;
  --card-bg-03: #66a5ad;
  --card-bg-04: #c4dfe6;
  --background: #202020;
  --big-text: #ffffff;
  --text: #838383;
  --second-text: #000000;
  --accent: #ff9122;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  display: block;
  width: 100%;
}

section {
  padding: 40px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.section__title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: var(--big-text);
  margin-bottom: 20px;
}

.btn-bay {
  width: 180px;
  padding: 8px 0;
  border-radius: 5px;
  background: var(--accent);
  font-size: 16px;
  font-weight: 500;
  color: var(--big-text);
}

.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo__icon {
  font-size: 48px;
  line-height: 40px;
  color: var(--accent);
}

.logo__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logo__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 0;
  color: var(--big-text);
}

.logo__text {
  color: var(--text);
  line-height: 0;
}

@media (max-width: 992px) {

  .section__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

}

@media (max-width: 768px) {

  section {
    padding: 20px 0;
  }

  .container {
    padding: 0 10px;
  }

}